
@media screen and (max-width: 768px) {
   #hideme {
        display: none;
   }
   #loading {
    width: 80%;  height: 80%;  margin: 0 auto;
    background: url(../images/loader.gif);
    background-position: center center;
    background-size: 40%;  background-repeat: no-repeat;  background-position: center;
  }
  }
